
<div class="topnav">
    <a class="active" href="#home">होम</a>
    <a href="#news">ब्लॉग्स</a>
    <a href="#contact">संपर्क</a>
    <a href="#about">माझी ओळख</a>
  </div>
  
  <div class="container">
      <img src="assets/images/evening_assembly_junasurla.jpeg" alt="evening assembly of junasurla" class="responsive" title="जुनसुर्ला शाळा">

    </div>
  <div class="article-container">
  <h1>शिक्षण</h1>
  <p>
      शिक्षण हे वाघिणीचं दूध आहे ते प्यालाशिवाय गुरगुरत नाही. शिक्षणामुळे जीवनाचा तरणोपाय नाही. त्यामुळे मनुष्याचा अंगी बळ, जिद्द, चिकाटी, 
      आत्मविश्वास, स्वावलंबीपणा, संयमी, सहनशीलता, वक्तशीरपणा, सर्वधर्म समभाव ह्या सर्व गुणांचे भिन्न भिन्न रूपे आपल्याला माहित होतात. 
      ते आपण जोपासण्याचा आटोकाट प्रयत्न करत राहतो. आपल्या जीवनाचे गणितच शिक्षण आहे. सर्व जगाचे आदण प्रदान, व्यवहार, कौशल्य, 
      चांगुलपणा, ही सुद्धा यांवरच अवलंबून आहे.  
  </p> 
    <p>
      शिक्षणामुळे माणूस हा नेहमी मोठा होत जातो. अनुभवातून तो कितीतरी गोष्टी आत्मसात करीत त्याच्या बुद्धीत स्मरणशक्तीत, चेतनात नेहमी वाढ होत
       जाते. प्रगतीच होत असते. तो भाषा शिकतो त्यामुळे तर सर्व जगावर तो प्रेम, माया, आपुलकी करून जगाला आपल्या जवळ करू शकतो. शिक्षण ही जीवनाची गुरुकिल्ली आहे.
      
      अशा व या सारख्या कितीतरी अनेक गोष्टी ह्या एका शिक्षणामुळेच सार्थ करू शकतो.       
  </p>
  <img class="rnd_img" src="assets/images/mom.png" alt="Avatar">
</div>
