
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">Blogs</a>
    <a href="#contact">Contact</a>
    <a href="#about">About Us</a>
  </div>
  
  <div class="container">
      <img src="" alt="" class="responsive" title="">

    </div>
  <div class="article-container">
  <h1>Introducing Components</h1>
  <p>
    An Angular component is similar to an AngularJS Controller. 
    A component is basically markup, meta-data, and a class (containing data and code)
     that combined together create a UI widget. Components are the main tools we use to 
     build an interactive UI with. All Angular applications have a root component, 
     often called the application component.
  </p>
</div>
